pipeline/Ambulance_Victoria_Location_Upload.json
{
	"name": "Ambulance_Victoria_Location_Upload",
	"properties": {
		"activities": [
			{
				"name": "Get Transaction File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_GetMetadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_P_StartDirectory": {
								"value": "@pipeline().parameters.PL_Location_DIRECTORY",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Transaction File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Transaction File Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_AV_to_Renamed_CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_CSV_Source",
									"type": "DatasetReference",
									"parameters": {
										"ds_P_DirectoryName": {
											"value": "@pipeline().parameters.PL_Location_DIRECTORY",
											"type": "Expression"
										},
										"ds_P_FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_CSV_Sink",
									"type": "DatasetReference",
									"parameters": {
										"ds_P_DirectoryName": {
											"value": "@concat(pipeline().parameters.PL_Temp_DIRECTORY)",
											"type": "Expression"
										},
										"ds_P_FileName": {
											"value": "AV_RACH_locations.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete TEMP Files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "PHI_PROD_GENERIC_PIPE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_GetMetadata",
									"type": "DatasetReference",
									"parameters": {
										"ds_P_StartDirectory": {
											"value": "@pipeline().parameters.PL_Temp_DIRECTORY",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "PHI_PROD_GENERIC_PIPE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy_AV_to_Renamed_CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PHI_PROD_GENERIC_PIPE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PL_Start_DIRECTORY": {
										"value": "@pipeline().parameters.PL_Temp_DIRECTORY",
										"type": "Expression"
									},
									"PL_Sink_SCHEMA": "GPHN"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PL_Start_DIRECTORY": {
				"type": "string",
				"defaultValue": "bronze/AMBULANCE_VICTORIA/CSV/"
			},
			"PL_Sink_SCHEMA": {
				"type": "string",
				"defaultValue": "GPHN"
			},
			"PL_Temp_DIRECTORY": {
				"type": "string",
				"defaultValue": "bronze/AMBULANCE_VICTORIA/LOCTEMP/"
			},
			"PL_Location_DIRECTORY": {
				"type": "string",
				"defaultValue": "bronze/AMBULANCE_VICTORIA/LOCATION/"
			}
		},
		"variables": {
			"PL_VAR_JSON": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AMBULANCE VICTORIA"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-18T07:04:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}