pipeline/MHR_MAIN.json
{
	"name": "MHR_MAIN",
	"properties": {
		"activities": [
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_GetMetadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_P_StartDirectory": {
								"value": "@pipeline().parameters.PL_Start_DIRECTORY",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Store File Metadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PHI_Store_COPY_FILES]",
					"storedProcedureParameters": {
						"IN_JSON_STRING": {
							"value": {
								"value": "@string(activity('Get File Metadata').output.childItems)",
								"type": "Expression"
							},
							"type": "String"
						},
						"IN_PIPE_NAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"IN_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"IN_DESTINATION_SCHEMA": {
							"value": {
								"value": "@pipeline().parameters.PL_Sink_SCHEMA",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "gphn_dw_prod_gpserverless",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Store File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Process EXCEL file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MHR_hist_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PL_Start_DIRECTORY": {
										"value": "@pipeline().parameters.PL_Start_DIRECTORY",
										"type": "Expression"
									},
									"PL_FileName": {
										"value": "@item().name",
										"type": "Expression"
									},
									"PL_Sink_SCHEMA": "GPHN"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PL_Start_DIRECTORY": {
				"type": "string",
				"defaultValue": "bronze/MHR/HIS_DATA/"
			},
			"PL_Sink_SCHEMA": {
				"type": "string",
				"defaultValue": "GPHN"
			}
		},
		"folder": {
			"name": "MHR"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T00:25:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}