pipeline/POLAR_unzip_prod.json
{
	"name": "POLAR_unzip_prod",
	"properties": {
		"activities": [
			{
				"name": "Get POLAR ZIP File Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete exisiting CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_POLAR_ZIP_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_P_FolderName": {
								"value": "@pipeline().parameters.PL_Source_DIRECTORY",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach File UNZIP to BRONZE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get POLAR ZIP File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get POLAR ZIP File Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "UNZIP to BRONZE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_POLAR_ZIP_Source",
									"type": "DatasetReference",
									"parameters": {
										"ds_P_FolderName": {
											"value": "@pipeline().parameters.PL_Source_DIRECTORY",
											"type": "Expression"
										},
										"ds_P_FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_BIN_UNZIP_Sink",
									"type": "DatasetReference",
									"parameters": {
										"ds_P_FolderName": "@pipeline().parameters.PL_Sink_DIRECTORY"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete exisiting CSV",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_GetMetadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_P_StartDirectory": {
								"value": "@pipeline().parameters.PL_Sink_DIRECTORY",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"PL_Source_DIRECTORY": {
				"type": "string",
				"defaultValue": "\\landing\\GPHN\\"
			},
			"PL_Sink_DIRECTORY": {
				"type": "string",
				"defaultValue": "\\bronze\\POLAR\\CSV\\"
			}
		},
		"folder": {
			"name": "POLAR"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-16T21:41:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}